@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: rgb(233, 227, 227);
}
.bg {
  background-image: url(/Images/Geograpy.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding: 1rem;
  color: gold;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  text-shadow: 3px 7px 10px rgba(3, 89, 110, 0.8),
    -3px 0px 7px rgba(1, 49, 61, 0.8), 0px 4px 7px rgba(5, 100, 124, 0.8);
}

.bg-movie {
  /*background-image: url(https://codetalks.tv/public/svg/global/texture-dev.svg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./landmark4.png');*/
    
    
    background-image: url('/Images/movie1.gif');
    /*background-image:url('/Images/geo.png');*/
    position: absolute;
    top: 0px;
    bottom: 0px;
    
    width: 100vw;
    background-repeat: no-repeat ;
   background-size: cover;
   
    /*background-position: 0px 0px;*/
     background-position: cover;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding: 1rem;
  border: solid 1px white;
  color: rgb(233, 236, 236);
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  text-shadow: 3px 7px 10px rgba(218, 92, 8, 0.8),
    -3px 0px 7px rgba(197, 92, 22, 0.8), 0px 4px 7px rgba(241, 101, 7, 0.8);

  }

/*.bg-movie:hover {
    cursor: url('/Images.png'), auto;	
}

.bg-movie:hover button:hover {
  cursor: url('/Images/popcornnn.png'), auto;	
}

.bg-movie:hover a:hover {
  cursor: url('/Images/popcorn.png'), auto;	
}*/
  


.bg-tech {
  background-image: url(/Images/Tech.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  padding: 1rem;
  /*border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;*/
  color: rgb(233, 236, 236);
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  text-shadow: 3px 7px 10px rgba(5, 80, 131, 0.8),
    -3px 0px 7px rgba(11, 40, 167, 0.829), 0px 4px 7px rgba(0, 9, 12, 0.911);
}

.bg-tech:hover {

    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.bg-sports {
  background-image: url(/Images/Sports.jpg);
  background-size: cover;
  background-position: cover;
  height: 100vh;
  width: 100%;
  padding: 1rem;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  color: rgb(233, 236, 236);
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  text-shadow: 3px 7px 10px rgba(130, 238, 7, 0.8),
    -3px 0px 7px rgba(128, 235, 7, 0.8), 0px 4px 7px rgba(156, 173, 3, 0.8);
}



button {
  font-size: 2rem;
  padding: 1rem;
  margin: 10rem;
  border: 1px solid lightblue;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.hiddentechbutton {
  opacity: 0.3;
  padding: 3rem 1rem 3rem 1rem;
  border: solid 1rem white;
  border-radius: 10px;
}
.hiddentechbutton:hover {
  opacity: 0.6;
  transform: scale(1);
}

.globe {
  border-radius: 50%;
  padding: 15rem;
  margin: 3rem;
  background-image: url(/Images/Geograpy.jpg);
  color: darkblue;
  border: 1px solid gold;

}

/*model rules*/


.info-box
{

  flex-direction: column;
  width:500px;
  background:white;
  border-radius: 5px;
  opacity: 0;
  z-index: -1;
  margin-top: -22rem;
  transform:translateX(70%);
  pointer-events: none;
  color: black;
  text-shadow:none;
  

}


.info-box.activeInfo
{

opacity:1;
z-index:2;
pointer-events: auto;
transform:translateX(70%);

}

.info-box .info-title
{
height:30px;
width: 86%;
border-bottom:1px solid  lightgray;
display: flex;
align-items: center;
padding: 0 35px;
font-size: 1.2rem;
font-weight: 500;

}

.info-box .info-list
{
  padding: 15px 35px;
  margin-top:5px;
 box-shadow: none;
 font-size:1rem; 
}


.info-box .info-list .info
{
margin:5px 0;

}


.info-box .info-list .info span{
  font-weight: 600;
  color:rgba(8, 8, 8, 0.8);
}


.info-box .buttons
{
  height: 60px;
  display:flex;
  align-items:center;
  justify-content:flex-end;
  padding:0 35px;
  
  
  border-top:1 px solid lightgray;
}

.info-box .buttons button {

  margin: 0 5px;
  height: 35px;
  width:85px;
  border-radius: 5px;
  font-size:16px;
  font-weight:500;
  cursor:pointer;
  text-align: center;
transition:all 0.3s ease;
border-color: rgb(114, 58, 5);
font-size:0.8rem; 

}
.buttons p{
margin-top: -10px;;
}

.buttons .continue
{
color:white;
background-color:rgb(216, 137, 84);
margin-left:10px;

}

.buttons .continue:hover
{
  background-color:rgb(70, 17, 4) ;
}
.buttons .exit{
color:rgb(78, 41, 7) ;
}

.buttons .exit:hover
{
  color:white;
  background-color:rgb(216, 137, 84);
}
