:root {
    background-color: white;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/*FLEXBOX FOR THE LAYOUT*/

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100rem;
    margin: 0 auto;
    padding: 2rem;
    position: relative;
    

}

.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    justify-content: center;
}

.hidden {
    display: none;
}

/*HEADER - SECTION*/

h2 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 4rem;
    width:76%;
    margin-left:11.5rem;
    
}


h1 {
    font-size: 5.4rem;
    color: #530408;
    margin-bottom: 5rem;
}

h1  > span {
    font-size: 2.4rem;
    font-weight: 500;
}

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    margin-left: 11rem;
    width: 77.3%;
    font-size: 1.8rem;
    border: 0.1rem solid #530408;
    background-color: #222;

}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #530408;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background: linear-gradient(-45deg, #6d560a, #610707, #333, #080808);
    /*background-color: #530408;*/
    
    color: white;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    overflow: hidden;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
      transform: scale(20px);
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.choice-text {
    padding: 1.5rem;
    width: 100%;
    color: white;
}


.correct {
    background-color: green;


}

.incorrect {
    background-color: red;

}

/*HUD - HEAD OF DISPLAY*/

#hud {
    display: flex;
    justify-content: space-around;
    
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
    margin-top: 4rem;
    font-weight: 600;
}

.hud-main-text {
    text-align: center;
    color:#530408;
    font-weight: 600;
}

/*PROGRESS BAR*/


#progressBar {
    width: 18rem;
    /*200 pixels by 40 pixels*/
    height: 4rem;
    border: 0.4rem solid #530408;
    margin-top: 1.5rem;
    
}

#progressBarFull {
    height: 3.5rem;
    background-color: #530408;
    width: 0%;
    
}

/*BUTTONS*/

.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #530408;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #241f1f;
    
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(71, 7, 23, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    background: linear-gradient(-45deg, #333, #610707, #333, #080808);
    color: white;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/*FORMS*/

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0  rgba(71, 7, 23, 0.5);
    background-color: #222;
    color: white;
    
}

input::placeholder {
    color: white;
}

/*LOADER*/

#loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #530408;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
    transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*Animated background*/
  
.background {
    /*background-image: url(https://codetalks.tv/public/svg/global/texture-dev.svg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./landmark4.png');*/
    
    
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255 ,0.7)), url('./Images/filmstrip.jpg');
    /*background-image:url('/Images/geo.png');*/
    position: absolute;
    top: 0px;
    bottom: 0px;
    
    width: 100vw;
    background-repeat:repeat ;
   
   
    /*background-position: 0px 0px;*/
     background-position: center;
     animation: 60s linear 0s infinite normal none running animatedBackground;
  }
  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 0 -1000px;
    }
  }

  .main{
    background-image: linear-gradient(rgba(173, 162, 162, 0.7), rgba(255, 255, 255, 0.7));
      box-shadow:0 0 0 .25rem rgba(black);
      border-radius: 10px;
      border: 1px solid white;
      width: 76%;
      margin-left: 118px;
      padding-top:20px;
      padding-bottom:20px;
  }

  .End{
    /*background-image: url(https://codetalks.tv/public/svg/global/texture-dev.svg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./landmark4.png');*/
    
    
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255 ,0.7)), url('/Images/score3.gif');
    /*background-image:url('/Images/geo.png');*/
    position: absolute;
    top: 0px;
    bottom: 0px;
    
    width: 100vw;
    background-repeat:repeat ;
   
   
    /*background-position: 0px 0px;*/
     background-position: center;
  }
