@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nova Square", cursive;
  background-color: #341f97;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #341f97;
}
/* Quiz Header Styling */

.hud-prefix {
  text-align: center;
}
#progressBar {
  width: 200px;
  height: 30px;
  border: 2px solid #341f97;
  border-radius: 50px;
  margin-left: 10px;
  overflow: hidden;
}
#progressBarFull {
  height: 100%;
  background-color: #341f97;
  width: 0%;
}

.quiz {
  display: grid;
  grid-template-rows: 60px auto;
  width: 800px;
  height: 500px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}
.quiz_header {
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.quiz_user {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 0px;
}
.quiz_timer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100px;
  background-color: #341f97;
  color: #fff;
  font-size: 14px;
  padding-right: 25px;
}
/* Quiz Body Page Styling */

.quiz_body {
  background-color: #ecf0f1;
  padding: 30px 30px;
}

.option_group {
  list-style-type: none;
  margin: 30px 0;
}
.option {
  display: block;
  width: 300px;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 100px;
  border: 2px solid transparent;
  transition: 0.4s all;
}

.option:hover {
  cursor: pointer;
  /* background-color: rgba(255, 255, 255, 0.1); */
  border: 2px solid #341f97;
  color: #341f97;
}
.option.active {
  background-color: #341f97;
  color: #fff;
}
.btn-next {
  border: none;
  padding: 15px 35px;
  background-color: #341f97;
  color: #fff;
  font-family: "Nova Square", cursive;
  border-radius: 27px;
  transition: 0.4s all;
}

.btn-next:hover {
  cursor: pointer;
  background-color: #fff;
  color: #341f97;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}


/* End Page Styling with Points and Time Message */

.endQuiz {
  margin-top: 20px;
}
.username,
.userpoints,
.usertime {
  color: #fff;
  text-align: center;
  margin-top: 25px;
  text-align: center;
  font-size: 35px;
}

/* Displays SteveJobs Animation */

.steveJobsImg {
  height: 220px;
  margin-top: 430px;
  /* margin-right: 100px; */
  animation-name: jump;
  animation-duration: 5s;
  position: relative;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes leftToRight {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
}
@keyframes jump {
  0% {
    /* transform: translateY(0); */
    left: 0px;
    top: -150px;
  }
  25% {
    left: -150px;
    top: 0px;
    /* transform: translateY(-250px); */
  }
  50% {
    left: -300px;
    top: -150px;
    /* transform: translateY(-500px); */
  }
  75% {
    left: -150px;
    top: -300px;
    /* transform: translateY(-500px); */
  }
  100% {
    left: 0px;
    top: -150px;
    /* transform: translateY(0px); */
  }
}

/* Displays the Message and Gif Picture in End Page */

#showPicture {
  visibility: hidden;
  background: #341f97;
  padding: 20px 40px 20px 40px;
  width: 100%;
  border-radius: 20px;
  float: left;
  font-size: 30px;
  color: #fff;
  text-align: center;
}
#message {
  margin: 30px;
  text-align: center;
}
#picture {
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

